$background: #393c43;
$purple: #7436f1;
$text: #c8c8c8;
$toDoText: #9a9a9d;
$white: #ffffff;

.App {
  font-size: 62.5%;
  display: grid;
  grid-template:
    "nav"
    "list"
    "todoNav";

  background-color: $background;
  width: 100vw;
  height: 100vh;

  .noHam {
    position: fixed;
    top: 5em;
    left: 5em;
    transition: all 0.8s ease-in-out;

    div:nth-child(1) {
      transform: translate(0px, 0px) rotate(-0deg);
      transition: all 0.5s ease-in-out;
      // transform: translate(0px, 10px);
    }

    div:nth-child(2) {
      opacity: 1;
      transition: all 1s ease-in-out;
    }

    div:nth-child(3) {
      transform: translate(0px, 0px) rotate(0deg);
      transition: all 0.5s ease-in-out;
    }
  }

  .navbar {
    position: relative;
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 10vh;
    grid-template-rows: auto;
    grid-template-areas:
      "burger title ."
      "burger title .";

    .burger {
      grid-area: burger;
      // height: 1vh;
      cursor: pointer;
      z-index: 100;
    }

    .ham {
      position: fixed;
      top: 5em;
      left: 90%;
      transform: translateX(-50%);
      transition: all 0.8s ease-in-out;

      div:nth-child(1) {
        transform: translate(0px, 9px) rotate(-45deg);
        transition: all 0.5s ease-in-out;
        // transform: translate(0px, 10px);
      }

      div:nth-child(2) {
        transform: rotate(360deg);
        opacity: 0;
        transition: all 0.5s ease-in-out;
      }

      div:nth-child(3) {
        transform: translate(0px, -9px) rotate(45deg);
        transition: all 0.5s ease-in-out;
      }
    }

    .title {
      grid-area: title;
      text-align: center;
      color: $text;
    }

    .sideBar {
      position: fixed;
      top: 0em;
      left: 0em;
      width: 0em;
      background-color: $purple;
      height: 100vh;
      z-index: 50;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      transition: all 0.8s ease-in-out;
      button {
        outline: none;
        background-color: $purple;
        border: none;
        visibility: 0;
        font-size: 0rem;
        padding: 0rem;
        opacity: 0;
        color: $text;
        transition: all 0.5s ease-in-out;
      }
    }
    .sideBar-show {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      top: 0em;
      left: 0em;
      width: 100vw;
      background-color: $purple;
      z-index: 50;
      height: 100vh;
      overflow: hidden;
      transition: all 0.8s ease-in-out;
      button {
        outline: none;
        background-color: $purple;
        border: none;
        font-size: 2rem;
        padding: 2rem;
        opacity: 1;
        color: $text;
        transition: all 0.8s ease-in-out;
      }
    }
  }

  .menu {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 3px solid $purple;
    min-width: 200px;
    height: auto;
    border-radius: 100px;
    position: relative;
    color: $text;

    i {
      position: absolute;
      left: 10px;
      font-size: 25px;
      color: $text;

      &:after {
        content: "";
        position: absolute;
        border: 3px solid $text;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        left: -8px;
        top: -7px;
      }
    }
  }

  .burger {
    div {
      width: 30px;
      height: 3px;
      background-color: $text;
      margin-bottom: 6px;
    }
  }

  .list {
    grid-area: list;
    height: 65vh;
  }

  .todoNav {
    grid-area: todoNav;
    display: grid;
    height: 25vh;
    grid-template-areas:
      "plus plus plus"
      "icons icons icons";
    background-color: $background;

    .form-menu {
      grid-area: plus;
      position: relative;

      .fas {
        font-size: 80px;
        color: $text;
        position: absolute;
        left: 50%;
        top: -45px;
        z-index: 40;
        cursor: pointer;
      }

      .cross {
        transform: translate(-50%) rotate(225deg);
        transition: 0.8s ease-in-out;
      }

      .noCross {
        top: 120px;
        transform: translate(-50%) rotate(0deg);
        transition: 0.8s ease-in-out;
      }
    }

    .noInputForm {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0vh;
      background-color: $purple;
      z-index: 15;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.8s ease-in-out;
      .input {
        display: none;
        font-size: 20px;
        padding: 1em 1em 0;
        input[type="text"] {
          border-radius: 12px;
        }
        .btn {
          .fas {
            color: $text;
            font-size: 20px;
          }
        }
      }
    }

    .input-form {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 25vh;
      background-color: $purple;
      z-index: 15;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.8s ease-in-out;
      overflow: hidden;

      .input {
        font-size: 20px;
        padding: 1em 1em 0;
        input[type="text"] {
          border-radius: 12px;
        }
        .btn {
          .fas {
            color: $text;
            font-size: 20px;
          }
        }
      }
      //   display: none;
    }
  }

  .todo-list {
    width: 94%;
    margin: 0 auto;

    li {
      border-radius: 12px;
      background-color: $white;
      display: flex;
      justify-content: flex-end;
      list-style: none;
      color: $toDoText;
      font-size: 1.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      .text {
        flex-grow: 2;
        text-align: left;
        padding-left: 1rem;
        padding-bottom: 0.2rem;
      }

      button {
        border: none;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        background-color: $white;
        .circle {
          margin-left: 0.5rem;
          height: 1.2rem;
          width: 1.2rem;
          background-color: #ffffff;
          border-radius: 50%;
          border: 2px solid $purple;
        }
      }
    }
  }

  .done-container {
    width: 100%;
    margin: 0 auto;

    li {
      border-radius: 12px;
      background-color: $white;
      display: flex;
      justify-content: flex-end;
      list-style: none;
      color: $toDoText;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      .done-text {
        flex-grow: 2;
        text-align: left;
        padding-left: 1rem;
        padding-bottom: 0.2rem;
      }

      .button1 {
        border: none;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        background-color: $white;
        .circle {
          margin-left: 0.5rem;
          height: 1.2rem;
          width: 1.2rem;
          background-color: #ffffff;
          border-radius: 50%;
          border: 2px solid $purple;
          .tick1 {
            width: 1px;
            height: 10px;
            border: 1.3px solid $purple;
            border-radius: 10px;
            background-color: $purple;
            transform: translate(4px, 3px) rotate(-28deg);
          }
          .tick2 {
            width: 1px;
            height: 18px;
            border: 1.3px solid $purple;
            background-color: $purple;
            transform: translate(10px, -15px) rotate(25deg);
            border-radius: 10px;
          }
        }
      }

      .button2 {
        border: none;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        background-color: $white;

        .fas {
          margin-right: 0.5rem;
          color: $purple;
        }
      }
    }
  }

  .todo-container {
    li {
      .button2 {
        border: none;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        background-color: $white;

        .fas {
          margin-right: 0.5rem;
          color: $purple;
        }
      }
    }
  }

  @media only screen and (min-width: 600px) {
    .input-form {
      .input {
        font-size: 25px !important;
        padding: 1em 1em 0;

        .btn {
          .fas {
            font-size: 25px !important;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 780px) {
  .App {
    justify-content: center;
    .menu {
      min-width: 500px;
    }
  }
}
