$background: #393c43;
$purple: #7436f1;
$text: #c8c8c8;
$white: #ffffff;

.App {
  display: grid;
  grid-template:
    "nav"
    "list"
    "todoNav";

  background-color: $background;
  width: 100vw;
  height: 100vh;

  .navbar {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 20vh;
    grid-template-rows: auto;
    grid-template-areas:
      "burger title ."
      ". title ."
      ". menu .";

    .burger {
      grid-area: burger;
      // height: 1vh;
      cursor: pointer;
    }

    .ham {
      div:nth-child(1) {
        transform: translate(0px, 9px) rotate(-45deg);
        transition: 0.5s ease-in-out;
        // transform: translate(0px, 10px);
      }

      div:nth-child(2) {
        transform: rotate(360deg);
        opacity: 0;
        transition: 0.5s ease-in-out;
      }

      div:nth-child(3) {
        transform: translate(0px, -9px) rotate(45deg);
        transition: 0.5s ease-in-out;
      }
    }

    .noHam {
      div:nth-child(1) {
        transform: translate(0px, 0px) rotate(-0deg);
        transition: 0.5s ease-in-out;
        // transform: translate(0px, 10px);
      }

      div:nth-child(2) {
        opacity: 1;
        transition: 1s ease-in-out;
      }

      div:nth-child(3) {
        transform: translate(0px, 0px) rotate(0deg);
        transition: 0.5s ease-in-out;
      }
    }

    .title {
      grid-area: title;
      text-align: center;
    }
    .menu {
      grid-area: menu;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border: 3px solid $purple;
      min-width: 200px;
      height: auto;
      border-radius: 100px;
      position: relative;

      i {
        position: absolute;
        left: 10px;
        font-size: 25px;
        // padding-right: 10px;

        &:after {
          content: "";
          position: absolute;
          border: 3px solid $text;
          width: 40px;
          height: 40px;
          border-radius: 30px;
          left: -8px;
          top: -7px;
        }
      }
    }
    color: $text;

    .burger {
      div {
        width: 30px;
        height: 3px;
        background-color: $text;
        margin-bottom: 6px;
      }
    }
  }

  .list {
    grid-area: list;
    height: 60vh;
  }

  .todoNav {
    grid-area: todoNav;
    display: grid;
    height: 20vh;
    grid-template-areas:
      "plus plus plus"
      "icons icons icons"
      "icons icons icons";
    background-color: $purple;

    .form-menu {
      grid-area: plus;
    }

    .form-icons {
      grid-area: icons;
    }

    .form {
      display: none;
    }
  }
}
