html {
    font-size: 62.5%;
}

section p:nth-child(1) {
    display: none;
}

/* section .Focus2:nth-child(1) {
display: none;
} */
.Focus2:nth-child(2) {
    display: none;
}

section {
    background-color: #f3f9fb;
}

.slick-list {
    padding-top: 5%;
}

.benefitsContainer {
    position: relative;
    background: url("/edenred/media/edenred-v2/benefits/mybenefits_background_first_block.png") center no-repeat;
    min-height: 50vh;
}

.benefitsContainer img {
    position: absolute;
    width: 100%;
    height: auto;
    max-width: 46rem;
    top: 60%;
    left: 50%;
    transform: translate(-48%, -50%);
    animation: animateCard 1s ease-in-out;
    -webkit-animation: animateCard 1s ease-in-out;
    -moz-animation: animateCard 1s ease-in-out;
}

.communication-form input[type="text"] {
    width: 100%;
    margin: 0 auto;
    border-radius: 40px;
    border: 2px solid skyblue;
    font-size: 18px;
    background: none;
    padding: 7px 15px;
    color: #162056;
    display: inline-block;
    font-family: "EdenredBold-Regular";
    height: 42px;
}

.input-wrap.mandainput span.text .checkmark {
    left: 10px;
}

.mandafield .checkbox label.checkwrap {
    padding-top: 14px;
}

.DropDownField {
    border-radius: 40px;
    border: 2px solid skyblue;
    background: none;
    padding: 7px 15px;
    color: #162056;
    display: inline-block;
    outline: none;
    font-size: 18px;
    font-family: "EdenredBold-Regular";
}

.DropDownField select {
    color: #162056;
    font-family: "EdenredBold-Regular";

}

.DropDownField select option {
    color: #162056;
    font-family: "EdenredBold-Regular";

}

.communication-form input[type="submit"] {
    border-radius: 40px;
    border: 2px solid skyblue;
    background: none;
    padding: 7px 15px;
    color: #162056;
    font-size: 18px;
    line-height: 26px;
    outline: none;
    font-weight: 400;
    font-family: "EdenredBold-Regular";
}

.ribbonContainer .container:nth-child(1) {
    background-color: #b2dee9;
    display: flex;
    display: -webkit-flex;
    /* Safari */
    max-width: 100%;
    height: 500px;
}

.ribbonContainer .container:nth-child(2) {
    background-color: #e8eba0;
    display: flex;
    display: -webkit-flex;
    /* Safari */
    height: 500px;
    max-width: 100%;
}

.ribbonContainer .container:nth-child(3) {
    background-color: #7FC2E4;
    display: flex;
    display: -webkit-flex;
    /* Safari */
    max-width: 100%;
    height: 500px;
}

.ribbonContainer .container:nth-child(1) .text-container {
    width: 50%;
    padding: 3% 0 3% 10%;
}

.ribbonContainer .container:nth-child(2) .text-container {
    width: 50%;
    padding: 5% 0 4% 10%;
}

.ribbonContainer .container:nth-child(3) .text-container {
    width: 50%;
    padding: 8% 0 8% 10%;
}

.text-container h2 {
    font-size: 3.5rem;
}

.text-container h2 span {
    font-size: 2.5rem;
    line-height: 30px;
}

.text-container p {
    font-size: 1.8rem;
}

.ribbonContainer .container:nth-child(1) .image-container {
    width: 50%;
}

.ribbonContainer .container:nth-child(2) .image-container {
    width: 50%;
}

.ribbonContainer .container:nth-child(3) .image-container {
    width: 50%;
}

.image-container {
    position: relative;
}

.ribbonContainer .container:nth-child(1) .image-container img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: calc(100% / 7);
    max-width: 600px;
}

.ribbonContainer .container:nth-child(2) .image-container img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: calc(100% / 5);
    max-width: 600px;
}

.ribbonContainer .container:nth-child(3) .image-container img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: calc(100% / 7);
    max-width: 600px;
}

.whiteRibbon {
    background-color: #f3f9fb;
}

.whiteRibbon .container {
    width: 100%;
    margin: 0 auto;
    max-width: initial;
    padding: 30px 16% 75px;
    overflow: hidden;

}

.whiteRibbon .text-container {
    text-align: left;
    padding-top: 5%;
}

.greyContainer {
    background-color: #f3f9fb;
}

.solutioniconlist ul.iconlinst li,
.solutiontab ul.iconlinst li {
    margin: 0px 5%;
}

.actionbuttons {
    padding: 0 8%;
}

.solutioniconlist .iconlinst li:nth-child(1) {
    margin: 0 3% 0 2%;
}

.solutiontabnav a {
    margin: 0 19px;
}

.oneLine li {
    width: 14% !important;
}

.slick-arrow {
    top: 80%;
}

.slick-list {
    padding-top: 0;
}

.Wrapper--set1 .Teaser-layer {
    background: linear-gradient(to bottom right, rgb(223, 233, 98), rgb(98, 195, 219));
    opacity: .6;
}

.Teaser-layer {
    background: linear-gradient(to bottom right, rgb(223, 233, 98), rgb(98, 195, 219));
    opacity: .6;
}

/*.Wrapper--set1 .tab-1 .Teaser-layer{
background:linear-gradient(to bottom right, rgb(223,233,98), rgb(98,195,219));
opacity:.6;
}
.Wrapper--set1 .tab-2 .Teaser-layer{
background:linear-gradient(to bottom right, rgb(223,233,98), rgb(98,195,219));
opacity:.6;
}
.Wrapper--set1 .tab-3 .Teaser-layer{
background:linear-gradient(to bottom right, rgb(223,233,98), rgb(98,195,219));
opacity:.6;
}*/
.Wrapper--set1 .tab-1 .Teaser-layer:after {
    background: linear-gradient(to bottom right, #dfe962, #62c3db);
}

.Wrapper--set1 .tab-2 .Teaser-layer:after {
    background: linear-gradient(to bottom right, #dfe962, #62c3db);
}

.Wrapper--set1 .tab-3 .Teaser-layer:after {
    background: linear-gradient(to bottom right, #dfe962, #62c3db);
}

.video-wrapper {
    text-align: center !important;
}

.three-images {
    display: flex;
}

.three-images img {
    max-width: calc(100% / 3);
}

.curves-ribbon .text-container p {
    color: #542f65 !important;
}

.curves-ribbon .text-container h2 {
    color: #542f65 !important;
    font-weight: bold;
    font-family: "EdenredBold-Regular";

}

.curves-ribbon .image-container img {
    max-width: 350px !important;
}

.curves-container {
    background-color: #eeeded !important;
}


/* animations */

/* card */
@keyframes animateCard {
    from {
        left: 40%;
        opacity: 0;
    }

    to {
        left: 50%;
        opacity: 1;
    }
}

@-webkit-keyframes animateCard {
    from {
        left: 40%;
        opacity: 0;
    }

    to {
        left: 50%;
        opacity: 1;
    }
}

@-moz-keyframes animateCard {
    from {
        left: 40%;
        opacity: 0;
    }

    to {
        left: 50%;
        opacity: 1;
    }
}



/* end of card */

/* end of animations */

@media only screen and (max-width: 1200px) {
    .whiteRibbon .text-container {
        text-align: center;
    }

    .three-images {
        display: block;
    }

    .three-images img {
        max-width: 400px;
        width: 100%;
    }

}

@media only screen and (max-width: 992px) {
    .ribbonContainer .container:nth-child(1) {
        background-color: #b2dee9;
        display: block;
        height: auto;
    }

    .curves-container {
        background-color: #eeeded !important;
    }


    .three-images {
        display: block;
    }

    .three-images img {
        max-width: 400px;
        width: 100%;
    }

    .ribbonContainer .container:nth-child(2) {
        background-color: #e8eba0;
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    .ribbonContainer .container:nth-child(3) {
        background-color: #7FC2E4;
        display: block;
        height: auto;
    }

    .ribbonContainer .container:nth-child(1) .text-container {
        width: 100%;
        padding: 3% 5% 0 5%;
    }

    .ribbonContainer .container:nth-child(2) .text-container {
        width: 100%;
        padding: 3% 5% 0 5%;
    }

    .ribbonContainer .container:nth-child(3) .text-container {
        width: 100%;
        padding: 3% 5% 0 5%;
    }

    .ribbonContainer .container:nth-child(1) .image-container {
        width: 100%;
        padding: 0 5%;
    }

    .ribbonContainer .container:nth-child(2) .image-container {
        width: 100%;
        padding: 0 5%;
    }

    .ribbonContainer .container:nth-child(3) .image-container {
        width: 100%;
        padding: 0 5%;
    }

    .ribbonContainer .container:nth-child(1) .image-container img {
        width: 100%;
        height: auto;
        position: static;
        max-width: 600px;
    }

    .ribbonContainer .container:nth-child(2) .image-container img {
        width: 100%;
        height: auto;
        position: static;
        max-width: 600px;
    }

    .ribbonContainer .container:nth-child(3) .image-container img {
        width: 100%;
        height: auto;
        position: static;
        max-width: 600px;
    }

    .solutioniconlist ul.iconlinst li,
    .solutiontab ul.iconlinst li {
        margin: 0 auto;
    }

    .text-container div {
        text-align: center;
    }

    .oneLine li {
        width: 100% !important;
        margin: 0 auto;
    }

    .solutiontabnav a {
        display: block;
    }
}

@media screen and (max-width: 780px) {
    .Carousel4 {
        margin: 30px 0 0;
        padding: 0 0 38px;
    }
}


@media only screen and (max-width: 600px) {
    .communication-form input[type="submit"] {
        width: 80%;
        min-width: 0;
        font-size: 15px;
    }

}